@import '../../mixins/theme';
@import '../../mixins/flex';

.temperature {
	@include flex-row;

	.temperature__digit {
		font-size: $font-size-xxl;
	}
	
	.temperature__unit {
		align-self: flex-start;
	}

	.temperature__direction-symbol__rising {
		color: $rising-color;
	}
	
	.temperature__direction-symbol__steady {
		color: $steady-color;
	}
	
	.temperature__direction-symbol__falling {
		color: $falling-color;
	}
}	