@import '../../mixins/theme';
@import '../../mixins/flex';

.weather-conditions {
	@include flex-row;

	.weather-conditions__label {
		font-size: $font-size-s;
	}
	
	.weather-conditions__direction-symbol__rising {
		color: $rising-color;
	}
	
	.weather-conditions__direction-symbol__steady {
		color: $steady-color;
	}
	
	.weather-conditions__direction-symbol__falling {
		color: $falling-color;
	}
}