@import './mixins/theme';
@import './mixins/flex';
@import './mixins/decoration';


.App {
  @include flex-column;

  background: $background-color;
  height: 100%;
  width: 100%;
  text-align: center;
  
  padding: 2rem;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: $breakpoint-s) {
  .App {
    width: 30vw;
  }
}

.app__foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  @include flex-column;

  .app__fetching-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #555;
    opacity: 0.5;
  }
}