@import '../mixins/theme';
@import '../mixins/flex';
@import '../mixins/section';
@import '../mixins/decoration';

.update {
	@include section-width;
	@include flex-column;

	font-size: $font-size-s;

	.update__last-update {
		margin: 20px;
	}

	.update__button {
		background: $text-color;
		border-radius: 2px;
		box-shadow: 0 0 5px $text-color;
		color: $background-color;
		font-size: $font-size-m;

		&:hover {
			background: #f5f5f5;
			box-shadow: 0 0 5px #555;
		}
	}
}

.update__error-message {
	background: $high-danger;
	font-size: $font-size-s;
}