@import '../mixins/theme';
@import '../mixins/flex';
@import '../mixins/section';
@import '../mixins/decoration';

.update {
	@include section-width;
	@include flex-column;

	font-size: $font-size-s;

	.update__last-update {
		margin: 20px;
	}

	.update__button {
		@include button;

		&:hover {
			@include button-hover;
		}
	}
}

.update__error-message {
	color: $high-danger;
	font-size: $font-size-s;
}