@import '../../mixins/theme';

.alert {
	background: #444;
	border-radius: 0.5rem;
	border: 2px solid $background-color; 
	width: 25%;
	padding: 4px;
	margin: 2px;
	
	.alert__time {
		font-size: $font-size-s;
		font-weight: bold;
		text-shadow: black 0 0 3px;
	}
}

// colored borders
.alert__low-danger {
	border: 2px solid $low-danger;
}

.alert__medium-danger {
	border: 2px solid $medium-danger;
}

.alert__high-danger {
	border: 2px solid $high-danger;
}