@import '../../mixins/theme';

.hourly-condition {
	background: #444;
	border-radius: 0.5rem;
	border: 2px solid $background-color; 
	width: 16.7%;

	.hourly-condition__time {
		font-size: $font-size-s;
	}
}