@mixin soft-border {
	border-radius: 2px;
	box-shadow: 0 0 5px $text-color;
}

@mixin button {
	background: $text-color;
	border-radius: 2px;
	box-shadow: 0 0 5px $text-color;
	color: $background-color;
	font-size: $font-size-m;
};

@mixin button-hover {
	background: #f5f5f5;
	box-shadow: 0 0 5px #555;
}