// breakpoints
$breakpoint-s: 600px;
$breakpoint-m: 900px;
$breakpoint-l: 1200px;

// colors
$text-color: #fff;
$background-color: #222;

$warning-color: #e00;
$rising-color: #f50;
$steady-color: #ff0;
$falling-color: #44f;

// font size
$font-size-xxl: 40px;
$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 16px;
$font-size-s: 12px;