// breakpoints
$breakpoint-s: 600px;
$breakpoint-m: 900px;
$breakpoint-l: 1200px;

// colors
$text-color: #fff;
$background-color: #4a85c9; // #222

$rising-color: #f50;
$steady-color: #ff0;
$falling-color: rgb(43, 117, 202);

// alert colors
$low-danger: yellow;
$medium-danger: orange;
$high-danger: red;


// font size
$font-size-xxl: 55px;
$font-size-xl: 40px;
$font-size-l: 30px;
$font-size-m: 20px;
$font-size-s: 15px;
$font-size-xs: 10px;