@import '../mixins/flex';

@mixin side-scroll {
	@include flex-row;

	justify-content: unset;

	width: 100%;
	overflow: scroll;
};

@mixin side-scroll_item {
	background: #444;
	border-radius: 0.5rem;
	border: 2px solid $background-color; 
	min-width: 20%;
	padding: 2.2px;
	white-space: nowrap;
}